@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin animation {
    @keyframes apparition {
        100% {
            opacity: 1;
            transform: none;
        }
    }
}